<h1>Give me today's weather in...</h1>

<form action="/" method="POST">
   <input type="text" name="location" value="Search a city">
   <button type="submit" value="submit">GO!</button>
</form>

{{#if err}}
<div class="weather-card weather-card-err">
   <h2>OOPS!</h2>
   <p>ICON</p>
   <p>{{err}}</p>
</div>
{{/if}}
{{#if listExists}}
<div class="weather-card">
   <h2 class="city-name">{{city}}<span class="country-code">{{country}}</span></h2>
   <p>ICON</p>
   <div class="weather-data">
      <p class="weather-data-temp">{{temp}}</p>
      <p class="weather-data-temp">{{description}}</p>
      <p class="weather-data-temp">{{feelsLike}}</p>
   </div>
</div>
{{/if}}