<h1>Give me today's weather in...</h1>

<form action="/" method="POST">
   <input type="text" name="location" onfocus="this.value=''" value="Search a city">
   <input type="text" name="countryCode" onfocus="this.value=''" value="Enter country code">
   <button type="submit" value="submit">GO!</button>
</form>

{{#if err}}
<div class="weather-card weather-card-err">
   <h2>OOPS!</h2>
   <p>{{err}}</p>
</div>
{{/if}}
{{#if listExists}}
<div class="weather-card">
   <h2 class="city-name">{{city}} <span class="country-code">{{country}}</span></h2>
   <img class="weather-icon" src="{{icon}}" alt="{{data.description}}">
   <div class="weather-data">
      <div class="weather-data-element">
         <p><span class="weather-data-temp">{{data.temp}}</span> <span class="temp-degrees">&deg;C</span></p>
      </div>
      <div class="weather-data-element-2">
         <p class="weather-data-description">{{data.description}}</p>
         <p class="weather-data-feelsLike">feels like: {{data.feelsLike}}&deg;C</p>
      </div>
   </div>
</div>
{{/if}}